<%- include("partials/head.ejs") %>
<body>
    <h1>Preferences</h1>
    <div>
        <h3>Select a profile picture</h3>
    </div>
    <div>
        <h3>Preferred temperature unit</h3>
    </div>
<%- include("partials/footer.ejs") %>    
</body>
</html>