<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Preferences</h1>
    <div>
        <form method="POST" action="/preferences">
  <% profilePictures.forEach(pic => { %>
    <label>
      <input type="radio" name="profilePic" value="<%= pic %>">
      <img src="<%= pic %>" class="avatar">
    </label>
  <% }) %>

  <button type="submit">Save</button>
</form>
    </div>
    <div>
        <h3>Preferred temperature unit</h3>
    </div>

</body>
</html>