body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 30px 0;
}

.favorites-container {
  width: 900px;
  margin: 0 auto;
  border: 2px solid #888;
  background: #fff;
  padding: 20px 20px 30px 20px;
}

.favorites-container h1 {
  text-align: center;
  margin-bottom: 10px;
}

.favorites-top-buttons {
  display: flex;
  justify-content: space-between;
  width: 260px;
  margin: 0 auto 20px auto;
}

.nav-btn {
  border: 1px solid #777;
  padding: 8px 12px;
  text-decoration: none;
  color: black;
  background: #f8f8f8;
  font-size: 14px;
}

.favorites-layout {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.favorites-sidebar {
  width: 180px;
  min-height: 250px;
  border: 1px solid #777;
  padding: 20px 10px;
  text-align: center;
}

.sidebar-label {
  margin-bottom: 15px;
}

.favorite-day-btn {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #777;
  background: white;
  cursor: pointer;
}

.favorites-details {
  width: 520px;
}

.favorite-info-box {
  border: 1px solid #777;
  min-height: 250px;
  padding: 25px;
  text-align: center;
}

.weather-output {
  margin: 20px auto;
  width: 85%;
  min-height: 70px;
}

.notes-box {
  border: 1px solid #777;
  width: 85%;
  margin: 20px auto 0 auto;
  min-height: 100px;
  padding: 15px;
}

.note-card {
  border: 1px solid #bbb;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.open-note-btn,
.small-btn {
  border: 1px solid #777;
  background: #f8f8f8;
  padding: 8px 12px;
  cursor: pointer;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.modal-content {
  width: 500px;
  background: #fff;
  border: 2px solid #777;
  padding: 20px;
}

.modal-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.icon-box {
  width: 60px;
  height: 60px;
  border: 1px solid #777;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.note-icon-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-body {
  margin: 20px 0;
}

#noteTextArea {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 10px;
  box-sizing: border-box;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}